### IGNORED FILES ###

# # # Virtual Environment
env/

# # #
demo.py

# # # Py Cache:
__pycache__/
*.pyc

# # # Degree's huge .csv files:
movies.csv
people.csv
stars.csv
large/
small/

# # # Image in Week 5 Lecture:
bridge.png

# # # Traffic's Image Dataset:
gtsrb/
gtsrb-small/
